$icomoon-font-family: "growers" !default;
$icomoon-font-path: "fonts" !default;

$icon-pencil: "\e902";
$icon-edit: "\e902";
$icon-close: "\e900";
$icon-check: "\e901";
$icon-plus: "\e908";
$icon-minus: "\e909";
$icon-trash-o: "\f014";
$icon-spinner: "\e90c";
$icon-undo2: "\e967";
$icon-blocked: "\ea0e";

