$icomoon-font-family: "tree-table" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-thin-up: "\e900";
$icon-chevron-thin-right: "\e901";
$icon-chevron-thin-left: "\e902";
$icon-chevron-thin-down: "\e903";
$icon-chevron-outline-up: "\e904";
$icon-chevron-outline-right: "\e905";
$icon-chevron-outline-left: "\e906";
$icon-chevron-outline-down: "\e907";

